html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #f1f2b5, #135058);
    background-size: cover;
    background-clip: content-box;
    font-family: monospace;
    font-weight: bold;
    overflow: hidden;
}

.playing {
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: whitesmoke;
    transform: scale(1.1);
    transition: all 0.05;
    border-radius: 10px;
}

.jumbotron,
.card {
    background-color: transparent;
}

.card {
    border: 3px solid black;
}

.custom-link {
    color: white;
}

.custom-link:hover {
    color: black;
}


/* particles */

canvas {
    display: block;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  

